[Unit]
Description=GNU Hello World startup script for KOAN training course

[Service]
ExecStart=/etc/tfs-setup.sh
[Install]
WantedBy=multi-user.target
